.IntelliJIdea15/
.PyCharm50/
.Xauthority
.bash_logout
.bash_profile
.bashrc
.cache/
.dbus/
.eclipse/
.fonts/
.ghc/
.gimp-2.8/
.gnupg/
.gstreamer-0.10/
.ivy2/
.java/
.lesshst
.local/
.mail/
.mozilla/
.mplayer/
.mutt_certificates
.offlineimap/
.oh-my-zsh/
.p2/
.pki/
.purple/
.python_history
.sane/
.serverauth.5015
.ssh/
.subversion/
.texlive2015/
.texmf
.thumbnails/
.thunderbird/
.tigrc
.tooling/
.vim/
.viminfo
.vimperator/
.yjp/
.zcompdump
.zsh/
.zsh_history
Shk_stuve-unipassau.de Abonnenten.htm
documents
downloads/
ff.tar.bz2
img/
owncloud/
repos/
studium
texmf/
user.js
.openvpn/
.offlineimaprc
.mutt/config.d/account
.mutt/cache
.mutt/lukasczyk.me.pem
.mutt/alias
.config/
